@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* ####### utilities ####### */
.Button{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.Button-green{
    background-color: green;
    color: aliceblue;
}
.Flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.Space-evenly{
    justify-content: space-evenly;
}

/* ####### app specific ####### */

* {
    /*border: 0;
    padding: 0;*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background: url(../03_Images/Clouds2.jpg);
    background-size: 100%;
}
/*header{
    margin: 0;
    padding-top: 0;
    border-top: 0;
    background-color: dodgerblue;
}*/
.HeaderNav {
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: dodgerblue;
}
.HeaderNav p{
    margin: 0;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    color: aliceblue;
}
nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-top: 10px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding-inline: 2rem;
}
#Map{
    width: 40%;
    margin-left: 3rem;
    margin-top: 1.5rem;
}
#MapMap {
    width: 100%;
    height: auto;
}
.Boxes{
    width: 55%
}
.Boxes section{
    background-color: aliceblue;
}
.Box{
    padding-left: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 15px;
}
section. table{
    border: 3px;
    border-color: black;
}