@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* ####### utilities ####### */
.Button{
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.Button-green{
    background-color: green;
    color: aliceblue;
}
.Flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.Space-evenly{
    justify-content: space-evenly;
}

/* ####### app specific ####### */

* {
    /*border: 0;
    padding: 0;*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background: url(Images/Clouds2.jpg);
    background-size: 100%;
}
.footer .End{
    text-align: center;
    background-color: dodgerblue;
}
/*header{
    margin: 0;
    padding-top: 0;
    border-top: 0;
    background-color: dodgerblue;
}*/
.HeaderNav {
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: dodgerblue;
}
.HeaderNav p{
    margin: 0;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    color: lawngreen;
    font-weight: bold;

}
nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-top: 10px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding-inline: 2rem;
}
#Map{
    width: 40%;
    margin-left: 3rem;
    margin-top: 1.5rem;
    border-radius: 15px;
}
#MapMap{
    width: 100%;
    height: 30rem;
    border-radius: 20px;
}

.Boxes{
    width: 55%
}
.Boxes section{
    background-color: aliceblue;
}
.Box{
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 15px;
}
td{
    padding-left: 23rem;
    font-weight: normal;
    color: seagreen;
    font-family: "Comic Sans MS";
}
span{
    font-family: "Comic Sans MS";
    color: seagreen;
    font-weight: normal;
}
#Select_btn{
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    margin-right: auto;
    text-align: center;
    font-family: "Comic Sans MS";
    color: seagreen;
}
.Without_border{
    padding-left: 0;
    margin-top: 1.5rem;
}
/* ###### About Page specific ####### */

.Front_title{
    color: aliceblue;
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0;
}
.Images_Container{
    border: 0;
    padding: 0;
    margin: 0;
}
.Images{
    display: inline-block;
    align-content: center;
    padding-top: 0.5rem;
    padding-left: 2.4rem;

}
.About_img{
    width: 32%;
    height:267px;
    margin: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.3);
}
/*.img1{
    margin-left: 0.1rem;
    padding-left: 2.4rem;
    border radius
} */

.Para{
    text-align: center;
    margin-left: 14rem;
    margin-right: 14rem;
    background: aliceblue;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 15px;
    opacity: 80%;
}

/* ####### Leaderboards Specific ######## */

.Future_update{
    font-size: 80px;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-family: "Comic Sans MS";
}