<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="GameTitle">Fly Green</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/weather_api.js"></script>
</head>
<body>
<div class="Container">
    <header class="HeaderNav">
        <div class="LogoNav"><p>Fly Green</p></div>
        <nav>
            <ul>
                <li><a href="01_GamePage.html">Game</a></li>
                <li><a href="02_AboutPage.html">About</a></li>
                <li><a href="03_Leaderboards.html">Leaderboards</a></li>
            </ul>
        </nav>
    </header>
    <div class="form_username">
        <form action='http://127.0.0.1:5000/user_data' method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="uname" placeholder="username">
            <button type="submit">Enter</button>
        </form>
    </div>
    <main class="Flex-wrap">
        <div id="Map">
            <!--img src="game_finland_map.svg" id="MapMap" alt="map of Finland"-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20648.73682374226!2d24.94117061773148!3d60.313465273289054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468df8658f62a2b1%3A0xfbf0d9012c28b396!2sHelsinki%20Airport!5e0!3m2!1sen!2sin!4v1671159478476!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" id="MapMap"></iframe>
            <!--script>
                function initMap() {
                    var location = {lat: -25.363,lng: 131.044}
                    var map = new google.maps.Map(document.getElementById("Map"), {
                        zoom: 4,
                        centre: location
                    });
                }
            </script>
            <script async defer src=""-->
        </div>
        <div class="Boxes">
            <section class="Box">
                <header>
                    <h2>Consumed</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Consumed">X</span> /1000</td>
                    </tr>
                </table>
            </section>
            <section class="Box">
                <header>
                    <h2>Passengers Travelled</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Passengers">Y</span> /300</td>
                    </tr>
                </table>
            </section>
            <section class="Box">
                <header>
                    <h2>Passengers left</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Passengers_left">Z<!--Where Z = (300 - Y) --></span></td>
                    </tr>
                </table>
            </section>
            <!-- Api section here-->
            <!-- Select button here-->
            <section class="Box Without_border">
                <header>
                    <button type="submit" id="Select_btn"><!--h2 id="Select_btn"-->SELECT<!--/h2--></button>
                </header>
                <!--table>
                    <tr>
                        <td><span id="Passengers">Y</span>/300</td>
                    </tr>
                </table-->
            </section>
        </div>
    </main>
</div>
<footer class="End">©FlyGreen</footer>
</body>
</html>