<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="GameTitle">Fly Green</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/weather_api.js"></script>
</head>
<body>
<header class="HeaderNav">
    <div class="LogoNav"><p>Fly Green</p></div>
    <nav>
        <ul>
            <li><a href="01_GamePage.html">Game</a></li>
            <li><a href="02_AboutPage.html">About</a></li>
            <li><a href="03_Leaderboards.html">Leaderboards</a></li>
        </ul>
    </nav>
</header>
<h1 class="Front_title">About</h1>
<div class="Images_Container">
    <div class="Images">
        <img src="../static/Images/img1.jpeg" alt="img1" class="About_img img1">
        <img src="../static/Images/img2.jpeg" alt="img2" class="About_img img2">
        <img src="../static/Images/img3.jpeg" alt="img3" class="About_img img3">
    </div>
    <div class="Para">
        <p>Welcome to the about page, this page explains the purpose behind this game and the requirements to complete
            the game. </p>
        <p>
        <h2>Purpose behind the Fly Green</h2>
        The purpose of the game is to promote environmentally responsible behaviour and show the importance of being
        sustainable. In the game you will be given an “efficiency score” by being more efficient with fuel usage you can
        lower your “efficiency score” and once the games end the lower your “efficiency score” the better it is. We are
        also hoping that after playing this, you consider some sort of carbon usage efficiency in their own live.
        </p>
        <h2>Modes</h2>
        <p>The game has 2 modes:</p>
        <!--ul>
            <li>“Free-Roam” mode (Recommended mode for new players)</li>
            <li>“Challenge” mode</li>
        </ul>
        <h2>Requirements to complete Fly Green</h2>
        <p>Once the game begins you will be presented with a choice between the “Free-Roam” mode and the “Challenge”
            mode. Depending on which mode you choose, your objectives will be slightly different.</p-->
        <h3> 1. Free-Roam mode</h3>
        <p>In the Free-Roam mode, your task is to transport passengers to unlock new regions. Each region has a minor
            goal that you need to fulfil to unlock a new region, the minor goal is to transport a predetermined number
            of passengers. You will continue to complete these minor goals until you achieve the final goal which is to
            unlock the entire world. Once the final goal has been achieved, you will be given your total “efficiency
            score” based on their performance as well as a few other details about your playthrough of the game. After
            achieving the final goal, you can either continue to explore the entire world or, restart and replay the
            mode to achieve a better “efficiency score” or move on to play the "Challenge” mode. We recommend you start
            with this mode to get familiar with the game since there are no restrictions on carbon emissions for the
            player, unlike the “Challenge” mode.</p>
        <h3>2. Challenge mode</h3>
        <p>In the “Challenge” mode, you will have a maximum amount of CO2 that you can emit, and this amount will be
            called the CO2 budget. If you go over the CO2 budget, the game will end. Similar to the “Free-Roam” mode,
            you have the same minor and major goals. However, unlike the “Free-Roam” mode once you fulfil a minor goal
            and unlock a new region, the CO2 in your CO2 budget will be increased by a specific amount. Once the entire
            map is unlocked, you will be given your total “efficiency score” based on their performance as well as a few
            other details about your play-through of the game. After achieving the final goal, you can either restart and
            replay the mode to achieve a better “efficiency score” or to go back to practice in the "Free-Roam”
            mode.</p>
        <p>And with all these things in mind, we hope you enjoy our game and learn to be a little bit more
            sustainable.</p>
    </div>
</div>
</body>
<footer class="End">©FlyGreen</footer>
</html>