<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="GameTitle">Fly Green</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/weather_api.js"></script>
</head>
<body>
<header class="HeaderNav">
    <div class="LogoNav"><p>Fly Green</p></div>
    <nav>
        <ul>
            <li><a href="01_GamePage.html">Game</a></li>
            <li><a href="02_AboutPage.html">About</a></li>
            <li><a href="03_Leaderboards.html">Leaderboards</a></li>
        </ul>
    </nav>
</header>
</body>
<body>
<p class="Future_update">Coming Soon!</p>
</body>
</html>