<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="GameTitle">CO2 Saver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/username.js" defer></script>
</head>
<body>
<div class="Container">
    <header class="HeaderNav">
        <div class="LogoNav"><p>Flight Simulator Game</p></div>
        <nav>
            <ul>
                <li><a href="#">Game</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Leaderboards</a></li>
            </ul>
        </nav>
    </header>
    <main class="Flex-wrap">
        <div id="Map">
            <img src="../static/game_finland_map.svg" id="MapMap" alt="map of Finland">
        </div>
        <div class="Boxes">
            <section class="Box">
                <header>
                    <h2>Consumed</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Consumed">X</span>/1000</td>
                    </tr>
                </table>
            </section>
            <section class="Box">
                <header>
                    <h2>Passengers Travelled</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Passengers">Y</span>/300</td>
                    </tr>
                </table>
            </section>
            <section class="Box">
                <header>
                    <h2>Passengers left</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Passengers_left">Z<!--Where Z = (300 - Y) --></span></td>
                    </tr>
                </table>
            </section>
            <!-- Api section here-->
            <!-- Select button here-->
        </div>
    </main>
</div>
</body>
</html>