<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="GameTitle">Fly Green</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/weather_api.js"></script>
</head>
<body>
<div class="Container">
    <header class="HeaderNav">
        <div class="LogoNav"><p>Fly Green</p></div>
        <nav>
            <ul>
                <li><a href="index.html">Game</a></li>
                <li><a href="02_AboutPage.html">About</a></li>
                <li><a href="#">Leaderboards</a></li>
            </ul>
        </nav>
    </header>
    <div class="form_username">
        <form action='http://127.0.0.1:5000/user_data' method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="uname" placeholder="username">
            <button type="submit">Enter</button>
        </form>
    </div>
    <main class="Flex-wrap">
        <div id="Map">
            <img src="game_finland_map.svg" id="MapMap" alt="map of Finland">
        </div>
        <div class="Boxes">
            <section class="Box">
                <header>
                    <h2>Consumed</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Consumed">X</span> /1000</td>
                    </tr>
                </table>
            </section>
            <section class="Box">
                <header>
                    <h2>Passengers Travelled</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Passengers">Y</span> /300</td>
                    </tr>
                </table>
            </section>
            <section class="Box">
                <header>
                    <h2>Passengers left</h2>
                </header>
                <table>
                    <tr>
                        <td><span id="Passengers_left">Z<!--Where Z = (300 - Y) --></span></td>
                    </tr>
                </table>
            </section>
            <!-- Api section here-->
            <!-- Select button here-->
            <section class="Box Without_border">
                <header>
                    <button type="submit" id="Select_btn"><!--h2 id="Select_btn"-->SELECT<!--/h2--></button>
                </header>
                <!--table>
                    <tr>
                        <td><span id="Passengers">Y</span>/300</td>
                    </tr>
                </table-->
            </section>
        </div>
    </main>
</div>
<footer>Thank you for Using this game!</footer>
</body>
</html>